<div>
  <div>
    <h2>How to use it?</h2>
  </div>
  <p>
    YouTube to 
    To convert a youtube video you first need to insert the link of the desired content in the first field of the
    form, then you need to choose the file format.
    After the previous steps click on the convert button and the file will be available for download.
  </p>
</div>

<div>
  <div>
    <h2>What is the proposal of this project?</h2>
  </div>
  <p>
    The main goal of this project is to provide a better user experience without any AD or anything that can be stressful of harmfull for the user, also if is part of the user will
    the donate button always available.
  </p>
</div>