<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" [fullScreen]="true" template="<img style='width: 100px' src='loading.gif'>">
  <p style="color: white">Converting... </p>
</ngx-spinner>

<div class="d-flex">
  <h2><b>Sounds Good</b>, a YouTube Video Converter</h2>
  <div class="card">
    <form>
      <p>Insert a YouTube video URL below</p>
      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input [(ngModel)]="stringURL" name="url" matInput maxlength="1000">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Convert to</mat-label>
        <mat-select [(ngModel)]="formatOption" name="format">
          <mat-option value="MP3">MP3</mat-option>
          <mat-option value="MP4">MP4</mat-option>
          <mat-option value="OGG">OGG</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="convertURL(stringURL,formatOption)" type="button" matTooltip="Convert">Convert</button>
    </form>
  </div>
</div>